@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-image: linear-gradient(to bottom, #13455E, #3044a5);
}

.nav-link {
  color: white !important;
  margin-left: 10px;
}
.nav-link:hover {
  color: yellow !important;
}

∂ span {
  color: yellow;
}

ol, ul {
  padding-left:0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28355, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
  border: 1px solid red;
}

.section-padding {
  padding: 100px 0 0 0;
}

.carousel-item {
  height: 32rem;
  background: black;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

.carousel-img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(imgs/banner-2.jpeg);
}

.carousel-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(imgs/banner-3.jpeg);
}

.carrou {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  padding: 50px;
}

#services {
  padding: 50px 0 0 0;
  margin-bottom: 40px;
}

.services .card-body i {
  font-size: 50px;
}

.servicio-1 {
  background-color: #13455E;
  margin-left: 2px;
  text-align: center;
}

.servicio-1, .servicio-3 {
  background-color: #13455E;
  margin-left: 2px;
  text-align: center;
}

.servicio-2 {
  background-color: #3044a5;
  margin-left: 2px;
  text-align: center;
}

.nosotros {
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}

.nosotros img {
  height: auto;
  width: 420px;
}

.texto {
  padding-left: 40px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.texto-nosotros h1 {
  color: white;
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
}

.texto-nosotros h5 {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
  text-align: center;
}

span {
  color: yellow;
}

.frecuentes-titulo {
  text-align: center;
  margin: 50px 0;
  font-family: sans-serif;
}

.accordion-item, .accordion-header {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;
}

.accordion-item {
  box-shadow: 0 2px 20px 0 rgba(110, 130, 208, 0.18);
}

.accordion-button {
  width: 100%;
  height: 60px;
  color: black !important;
  font-weight: bold !important;
  text-align: left !important;
  text-decoration: none !important;
}

.accordion-body {
  background: #e8eeff;
}

.imagen-frecuentes {
  width: 430px;
  margin-bottom: 50px;
}

.contenedor {
  background-color: #f2f2f2;
  padding: 60px 0;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #13455E;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards .carta {
  background: #13455E;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.cards .carta img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .carta > .contenido-texto-card {
  width: 60%;
  color: #FFF;
}

.cards .carta > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

.certificaciones {
  text-align: center;
  padding: 40px;
  background-color: #E5E5E5;
  margin-top: 10px 0;
}

.horas-de-trabajo {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.horas-de-trabajo h2 {
  padding: 20px;
  font-size: 30px;
}

table {
  width: 100%;
  text-align: center;
}

.body-contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgs/fondoCancun.jpg");
  background-position: center;
  background-size: cover;
}

.section-title {
  text-align: center;
  padding: 25px 0;
  color: white;
}

.section-title h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: oswald;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.contact-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 40px 30px;
}

.contact-form .btn {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 50px;
  letter-spacing: 2px;
}

.relleno-form {
  padding-bottom: 10px;
}

.map-area {
  width: 600px;
  height: 485px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.map-area iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-area {
  margin-bottom: 40px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-image: linear-gradient(#13455E, #3044a5);
  color: white;
}

.foot-cont {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 40px;
}
.foot-cont .sec h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}
.foot-cont .sec h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #ffeb3b;
}

.sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #3e56cb;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a .fa-brands {
  color: white;
  font-size: 20px;
}

.boton, .boton-accent {
  background-color: hsl(0deg, 0%, 90%);
  border: 1px solid hsl(0deg, 0%, 70%);
  cursor: pointer;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  text-decoration: none;
  color: white;
}

.boton-accent {
  background-color: hsl(239deg, 96%, 40%);
  border-color: hsl(239deg, 96%, 20%);
}

.boton-accent:hover, .boton.boton-accent:focus, .boton-accent:focus {
  background-color: hsl(239deg, 96%, 30%);
  box-shadow: 0 0 5px 0 hsl(239deg, 96%, 20%);
  color: #ccc;
}

.quicklinks {
  position: relative;
}
.quicklinks li {
  list-style: none;
}
.quicklinks li a {
  color: #f9f9f9;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks li a:hover {
  color: #ffeb3b;
}

.info {
  position: relative;
}
.info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.info li span {
  color: white;
}
.info li span:nth-child(1) {
  color: white;
  font-size: 20px;
}
.info a {
  color: #f7f7f7;
  text-decoration: none;
}
.info a:hover {
  color: #ffeb3b;
}

.copyrightText {
  background-color: #1f3389;
  padding: 8px 100px;
  text-align: center;
  color: white;
}

#frecuentes .text-center {
  margin-top: 20px;
}

.contacto {
  padding-bottom: 20px;
  font-family: monospace;
}

.titulo-galeria{
  color: #444;
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
}

.gallery-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}
.gallery__item{
  position: relative;
}
.gallery__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__title{
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255,255,.025), rgba(0, 0, 0 , .8));
  width: 100%;
  margin: 0;
  padding: 5px;
  font-size: 16px;
}

.gallery__item:nth-child(4) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(9) {
  grid-column-start: span 2;
}

.about-secc{
  padding-top: 65px;
  width: 100%;
  background-color: #161922;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-secc .contenido img{
  height: 700px;
  width: 500 px;
  max-width: 100%;
}

.texto-nosotros{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
  text-align: center;
  margin: 20px 0;
}

.texto-nosotros p{
  color: #c0c4d6;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}
.contenido{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

button{
  background-color: #13455E;
  color: white;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.5s ease-out;
  text-align: center;
}

button:hover{
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #13455E;
  color: #13455E;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .contact-form {
    margin-bottom: 30px;
  }
  .map-area {
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .nav-link {
    text-align: center;
  }
  .carousel-caption h5 {
    font-size: 25px;
  }
  .card {
    margin-bottom: 30px;
  }
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards .carta {
    width: 90%;
  }
  .cards .carta:first-child {
    margin-bottom: 30px;
  }

  .about .contenido img{
    height: 500px;
    width: 300 px;
  }
}
@media only screen and (max-width: 768px) {
  footer .foot-cont {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .gallery-container{
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery__item:nth-child(3){
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(4){
    grid-column-start: span 3;
  }
  .gallery__item:nth-child(5){
    grid-row-start: span 3;  
  }
  .gallery__item:nth-child(9){
    grid-column-start: span 3;
  }

  .gallery__title{
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .gallery-container{
    width: 90%;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
  }
  .gallery__item:nth-child(1){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(4){
    grid-column-start: span 3;
    grid-row-start: span 3;

  }
  .gallery__item:nth-child(8){
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(9){
    grid-column-start: span 2;
  }
  .gallery__title{
    font-size: 25px;
  }
}


/*# sourceMappingURL=estilos.css.map */